p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

span.source { 
  font-size: 1em;
  font-weight: bold;
  font-family: monospace;
}

.page-inner {
  max-width: 1000px !important; /*default is 800px */ 
  /* margin-left: auto !important;
  margin-right: auto !important; */ 
}  